* {
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f6f7;
}

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 800px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 3px 10px 1px #dddddd;
  padding: 0 20px;
}

.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.artist {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.artist__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 10px 10px 5px #ddece7;
  margin-bottom: 30px;
}
.artist__name-genre {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 30px;
  margin-bottom: 30px;
}
.artist__buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.artist__buttons button {
  width: 100px;
  height: 40px;
  border-radius: 30px;
}
.fa-heart {
  margin-right: 5px;
}

.songs {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.songs__row {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.songs__cover {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}
.songs__artist-title {
  width: 200px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.songs__row:nth-child(2) {
  border-radius: 15px;
  box-shadow: 0 2px 5px #eeeeee;
}

.now-playing {
  width: 100%;
  height: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: #000000;
  box-shadow: 0 2px 5px #aaaaaa;
}
.now-playing__artist-title {
  display: flex;
  flex-direction: column;
}
.now-playing__buttons {
  width: 70px;
  display: flex;
  justify-content: space-between;
}

/* second page */
.playing-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.playing-detail__cover {
  width: 270px;
  height: 270px;
  border-radius: 30px;
  box-shadow: 0 10px 20px 3px #f7898d;
  margin-bottom: 80px;
}
.playing-detail__time-slider {
  width: 100%;
  padding: 0 20px;
}
.playing-detail__time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.playing-detail__slider {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
}
.playing-detail__slider > div:nth-child(1) {
  width: 45%;
  height: 5px;
  background-color: #000000;
  border-radius: 3px;
}
.playing-detail__slider > div:nth-child(2) {
  width: 10px;
  height: 10px;
  background-color: #000000;
  border-radius: 50%;
  position: absolute;
  left: 43%;
}
.playing-detail__slider > div:nth-child(3) {
  width: 55%;
  height: 5px;
  border-radius: 3px;
  background-color: #aaaaaa;
}

.playing-detail__buttons {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.playing-detail__buttons > div {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 2px 10px 1px #aaaaaa;
}

.--font-large {
  font-size: 25px;
}
.--font-small {
  font-size: 13px;
}
.--font-bold {
  font-weight: bold;
}
.--color-gray {
  color: #aaaaaa;
}
.--color-white {
  color: #ffffff;
}
.--button-black {
  background-color: #000000;
  color: #ffffff;
}
.--button-white {
  background-color: #ffffff;
  color: #aaaaaa;
  border-style: none;
  border-color: #ffffff;
  box-shadow: 0 2px 5px 1px #eeeeee;
}
