.nav {
  width: 700px;
  height: 100px;
  display: flex;
  position: fixed;
  bottom: 0;
}
.nav__ul {
  width: 100%;
  background-color: var(--point-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.nav__link {
  width: 100px;
  height: 100px;
}
.--nav-active {
  width: 80px;
  height: 80px;
}
