.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 20px 0;
  background-color: var(--point-color);
}
.header__title {
  font-size: 40px;
  font-weight: 900;
}
.header__btn i {
  margin-left: 20px;
  align-items: center;
}
.header__setting {
  color: #000000;
  position: relative;
}

.header__notice {
  width: 5px;
  height: 5px;
  background-color: #cd1039;
  border-radius: 50%;
  position: absolute;
  left: 40px;
  bottom: 20px;
}
