.no-mobile {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  z-index: 99;
  position: absolute;
  top: 0;
  background-color: #fff4f3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-mobile__img {
  width: 500px;
  height: 500px;
  position: absolute;
}
.no-mobile__text-1 {
  font-size: 32px;
  position: relative;
  right: 75px;
  bottom: 100px;
}
.no-mobile__text-2 {
  font-size: 28px;
  position: relative;
  left: 60px;
  bottom: 140px;
}

@media screen and (max-width: 700px) {
  .no-mobile {
    display: none;
  }
}
